.DS_Store
.expo/
**/__pycache__/
*.pyc
backend/venv/
backend/data/*.db
frontend/node_modules/
frontend/.env
backend/.env
backend/*firebase-adminsdk*.json
temp_auto_push.bat
temp_interactive_push.bat
branch_structure.json
